/node_modules
/public/hot
/public/koolreport_assets/
/public/storage
/storage/*.key
/vendor
/package.json
/package-lock.json
.idea/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
error_log

